#about-header {
	background-image: url("http://via.placeholder.com/1200x250");
}

.about {
  margin: 50px 0 0 0;
  font-family: $roboto;

  .cert {
    text-align: center;
    padding-top: 10px;
    img {
      display: inline-block;
    }
    p {
      font-size: 1.8rem;
      display: inline-block;
    }
  }
}

.about-panel {
  margin-bottom: 50px;
  padding-bottom: 25px;
}

.a-panel-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.panel-text {
  font-family: $roboto;
  font-size: 1.7rem;
  line-height: 1.5em;
}

.meet-the-team {
  background-color: $background-color;
  padding-bottom: 50px;
}

.gray {
  color: #555555;
}

.mug-title {
  text-align: center;
  padding: 8px 100px 0px 100px;

  hr {
    border: 1px solid darken($background-color, 10%);
  }

  h2 {
    font-weight: bold;
  }
}

.mug {
  text-align: center;
  margin-bottom: 5px;
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 2.5rem;
    padding-top: 5px;
  }
}

.mug-contact {
  text-align: center;
  a {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
  a:hover {
    color: #337ab7;
  }
}