doctype html
html(lang='en')

	include _partials/_head.pug

	body
		include _partials/_navbar.pug

		#content
			.container
				.panel.panel-primary.panel-admin#add-year
					.panel-heading
						h3.text-center Add Year
					.panel-body
						h4 Choose an image to summarize the year
						form
							.row
								.col-md-4
									button.btn.btn-default Choose a file...
								.col-md-4
									input.form-control(type="text")
								.col-md-4
									input.btn.btn-default(type="submit" value="Add year")
								
		include _partials/_scripts.pug