doctype html
html(lang='en')

	include _partials/_head.pug

	body
		include _partials/_navbar.pug

		#content
			.container
				.panel.panel-primary.panel-admin#add-project
					.panel-heading
						h3.text-center New Project
					.panel-body
						form
							.row
								.col-md-4
									label(for="#year") Year
									br
									select#year.form-control
										option 2017
										option 2016
										option 2015
										option 2014
										option 2013
										option 2012
										option 2011
										option 2010
										option 2009
										option 2008
										option 2007
								.col-md-4
									label(for="#job-name") Job
									br
									input#job-name.form-control(type="text")
								.col-md-4
									label(for="#city") City
									br
									input#city.form-control(type="text")
							.row
								.col-md-4
									label(for="#state") State
									br
									select#state.form-control
										option(value='AL') Alabama
										option(value='AK') Alaska
										option(value='AZ') Arizona
										option(value='AR') Arkansas
										option(value='CA') California
										option(value='CO') Colorado
										option(value='CT') Connecticut
										option(value='DE') Delaware
										option(value='DC') District Of Columbia
										option(value='FL') Florida
										option(value='GA') Georgia
										option(value='HI') Hawaii
										option(value='ID') Idaho
										option(value='IL') Illinois
										option(value='IN') Indiana
										option(value='IA') Iowa
										option(value='KS') Kansas
										option(value='KY') Kentucky
										option(value='LA') Louisiana
										option(value='ME') Maine
										option(value='MD') Maryland
										option(value='MA') Massachusetts
										option(value='MI') Michigan
										option(value='MN') Minnesota
										option(value='MS') Mississippi
										option(value='MO') Missouri
										option(value='MT') Montana
										option(value='NE') Nebraska
										option(value='NV') Nevada
										option(value='NH') New Hampshire
										option(value='NJ') New Jersey
										option(value='NM') New Mexico
										option(value='NY') New York
										option(value='NC') North Carolina
										option(value='ND') North Dakota
										option(value='OH') Ohio
										option(value='OK') Oklahoma
										option(value='OR') Oregon
										option(value='PA') Pennsylvania
										option(value='RI') Rhode Island
										option(value='SC') South Carolina
										option(value='SD') South Dakota
										option(value='TN') Tennessee
										option(value='TX') Texas
										option(value='UT') Utah
										option(value='VT') Vermont
										option(value='VA') Virginia
										option(value='WA') Washington
										option(value='WV') West Virginia
										option(value='WI') Wisconsin
										option(value='WY') Wyoming
								.col-md-4
									label(for="#weight") Weight (tons)
									br
									input#weight.form-control(type="text")
								.col-md-4
									input.btn.btn-default(type="submit" value="Add Job")
		include _partials/_scripts.pug