doctype html
html(lang='en')

	include _partials/_head.pug
	
	body
		include _partials/_navbar.pug
		+navbar("Contact")

		
		.image-header.valign-parent#contact-header
			.valign-child
				h1 Contact

		.container
			.row
				.col-md-6.col-md-offset-3
					#contact-card
						h3.text-center How To Reach Us
						hr
						.name
							i.fa.fa-address-book-o.fa-3x
							h3 Bountiful Enterprises
						table
							tbody
								tr
									td
										i.fa.fa-envelope
									td
										p Email
									td.right
										a(href="mailto:contact@bountifulenterprises.com") contact@bountifulenterprises.com
								tr
									td
										i.fa.fa-envelope
									td
										p Email
									td.right
										a(href="mailto:contact@bountifulenterprises.com") contact@bountifulenterprises.com
			#map-container
				#map
		
		include _partials/_footer.pug
		include _partials/_scripts.pug