doctype html
html(lang='en')

	include _partials/_head.pug
	
	body
		include _partials/_mixins.pug
		+navbar("Projects")

		+header("Projects")

		.container
			.projects
				.tab
					input#tab-two(type='checkbox', name='tabs')
					label(for='tab-two') 2009 - 1019.5 tons
					.tab-content
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-three(type='checkbox', name='tabs')
					label(for='tab-three') 2010 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-four(type='checkbox', name='tabs')
					label(for='tab-four') 2011 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-five(type='checkbox', name='tabs')
					label(for='tab-five') 2012 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-five(type='checkbox', name='tabs')
					label(for='tab-five') 2012 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-five(type='checkbox', name='tabs')
					label(for='tab-five') 2012 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-five(type='checkbox', name='tabs')
					label(for='tab-five') 2012 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.
				.tab
					input#tab-five(type='checkbox', name='tabs')
					label(for='tab-five') 2012 - 1019.5 tons
					.tab-content
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.

		
		include _partials/_footer.pug
		include _partials/_scripts.pug