doctype html
html(lang='en')

	include _partials/_head.pug
	
	body
		include _partials/_mixins.pug
		+navbar("Projects")

		+header("Projects")

		.container
			.projects
				.tab
					input#tab-1(type='checkbox', name='tabs')
					label(for='tab-1') 2009 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-2(type='checkbox', name='tabs')
					label(for='tab-2') 2010 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-3(type='checkbox', name='tabs')
					label(for='tab-3') 2011 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-4(type='checkbox', name='tabs')
					label(for='tab-4') 2012 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-5(type='checkbox', name='tabs')
					label(for='tab-6') 2012 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-7(type='checkbox', name='tabs')
					label(for='tab-7') 2012 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-8(type='checkbox', name='tabs')
					label(for='tab-8') 2012 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
				.tab
					input#tab-9(type='checkbox', name='tabs')
					label(for='tab-9') 2012 - 1019.5 tons
					.tab-content
						.project-img
							img.img-responsive(src="http://via.placeholder.com/400x250")
						table
							thead
								tr
									td Job
									td City
									td State
									td Weight (tons)
							tbody
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74
								tr
									td O'Rielly's Distribution Center
									td Kansas City
									td MO
									td 74

		
		include _partials/_footer.pug
		include _partials/_scripts.pug