doctype html
html(lang='en')

	include _partials/_head.pug

	body
		include _partials/_mixins.pug
		+navbar("Shipping")

		+header("Shipping")

		.ship
			.container
				.ship-img
						img(src="http://via.placeholder.com/1200x500")

		include _partials/_footer.pug
		include _partials/_scripts.pug