.navbar-fixed-left {
	background-color: $primary-color;
  width: 300px;
  position: fixed;
  border-radius: 0;
	height: 100%;

	p {
		display: inline-block;
	}

	i.fa {
		position: relative;
		top: 3px;
	}

	.navbar-brand {
		height: auto;
	}

	.navbar-nav {
		> li {
			float: none;
			width: 300px;
			color: #FFFFFF;

			a {
				display: inline-block;
				width: 100%;
			}
		}
	}
}

#content {
	padding-left: 315px;

	.container {
		width: auto;
	}
}

.navbar {
	i.fa {
		margin-right: 6px;
	}
}
