input[type="submit"]#save-project {
	width: 48%;
}

#delete-project {
	input {
		width: 43.9%;
		position: absolute;
    right: 15px;
		top: -73px;
		
		@media (max-width: 992px) {
			top: -61px;
		}
	}
}