head
	title Bountiful Enterprises
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='../css/admin.css', rel='stylesheet')
	link(href='../DataTables/datatables.css' rel='stylesheet')
	link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")