doctype html
html(lang='en')

	include _partials/_head.pug

	body
		include _partials/_mixins.pug
		+navbar("About")

		+header("About")

		.about
			.container
				.about-panel.panel.panel-default
					.panel-heading.a-panel-title Humble Beginnings to Becoming Excellent!
					.panel-body.panel-text We started out as a no-name startup in the fall of 1999 working out of a small 25x50 shop. No office and no real tools to our name. 2-years later we built a slightly larger shop at 50x100 and in the summer of 2001 we moved in. Today, we have over 48,000 sqft of shop; we have provided the structural steel for over 400 projects, to 29 different states. We have developed a name that the construction industry knows and trust. Thanks to our outstanding team who will work tirelessly to maintain quality standards and ensure schedules are met. We are truly proud of the steel fabricator we have become. If you have worked with us before, you've seen the commitment from Tina during the estimating to give fair and solid pricing. As well as the ongoing efforts from Josh the Project Manager to clearly communicate with your team to ensure the steel construction goes through on time and without issues. If you are one of our suppliers or subs, you know that Mark always pays on-time or even more often pays early. The mentality of doing the very best job possible, runs through all of our departments. 
				
					.row
						.col-md-4.cert
							img(src="http://via.placeholder.com/58")
							p Certification One
						.col-md-4.cert
							img(src="http://via.placeholder.com/58")
							p Certification One
						.col-md-4.cert
							img(src="http://via.placeholder.com/58")
							p Certification One
				
			.meet-the-team
				.container
					.mug-title.gray
						h2 Meet the Team
						hr
					.row.gray
						.col-md-offset-2.col-md-4.mug
							h2 Tom Zitting
							img(src="http://via.placeholder.com/250x250")
							p General Manager
							.mug-contact
								a(href="mailto:john@example.com") Email: john@example.com
								<br>
								a(href="tel:9999999999") (999) 999-9999
						.col-md-4.mug
							h2 Mark Bradshaw
							img(src="http://via.placeholder.com/250x250")
							p Accounts Payable
							.mug-contact
								a(href="mailto:john@example.com") Email: john@example.com
								<br>
								a(href="tel:9999999999") (999) 999-9999
					.row.gray
						.col-md-4.mug
							h2 Tommy Zitting
							img(src="http://via.placeholder.com/250x250")
							p Operations Manager
							.mug-contact
								a(href="mailto:john@example.com") Email: john@example.com
								<br>
								a(href="tel:9999999999") (999) 999-9999
						.col-md-4.mug
							h2 Tina Ashman
							img(src="http://via.placeholder.com/250x250")
							p Estimating
							.mug-contact
								a(href="mailto:john@example.com") Email: john@example.com
								<br>
								a(href="tel:9999999999") (999) 999-9999
						.col-md-4.mug
							h2 Josh Ashman
							img(src="http://via.placeholder.com/250x250")
							p Project Manager
							.mug-contact
								a(href="mailto:john@example.com") Email: john@example.com
								<br>
								a(href="tel:9999999999") (999) 999-9999
							
		include _partials/_footer.pug
		include _partials/_scripts.pug