doctype html
html(lang='en')

	include _partials/_head.pug
	
	body
		include _partials/_navbar.pug
		+navbar("Home")
		#home
			#home-carousel.carousel.slide(data-ride='carousel')
				// Indicators
				ol.carousel-indicators
					li.active(data-target='#home-carousel', data-slide-to='0')
					li(data-target='#home-carousel', data-slide-to='1')
					li(data-target='#home-carousel', data-slide-to='2')

				// Wrapper for slides
				.carousel-inner
					.item.active
						img(src='http://via.placeholder.com/1600x900', alt='')
					.item
						img(src='http://via.placeholder.com/1600x900', alt='')
					.item
						img(src='http://via.placeholder.com/1600x900', alt='')

				// Left and right controls
				a.left.carousel-control(href='#home-carousel', data-slide='prev')
					span.fa-stack.fa-lg
						i.fa.fa-circle-o.fa-stack-2x
						i.fa.fa-chevron-left.fa-stack-1x
					span.sr-only Previous
				a.right.carousel-control(href='#home-carousel', data-slide='next')
					span.fa-stack.fa-lg
						i.fa.fa-circle-o.fa-stack-2x
						i.fa.fa-chevron-right.fa-stack-1x
					span.sr-only Next
			.more-info.container
				.row
					.col-md-4
						.info-card(style="background-image: url('images/home/projects.jpg');")
							.info-card-description
								.info-card-visible
									h4 Projects
									i.fa.fa-chevron-up.fa-lg(aria-hidden='true')
								.info-card-hidden.text-center
									h3 
										| View current and past 
										br
										| projects
									.read-more.text-center
										a.btn.btn-primary(href='projects.html')
											| Projects
											i.fa.fa-chevron-right(aria-hidden='true')
											i.fa.fa-chevron-right(aria-hidden='true')
					.col-md-4
						.info-card(style="background-image: url('images/home/about.jpg');")
							.info-card-description
								.info-card-visible
									h4 About Us
									i.fa.fa-chevron-up.fa-lg(aria-hidden='true')
								.info-card-hidden
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									.read-more.text-center
										a.btn.btn-primary(href='about.html')
											| Read More 
											i.fa.fa-chevron-right(aria-hidden='true')
											i.fa.fa-chevron-right(aria-hidden='true')
					.col-md-4
						.info-card(style="background-image: url('images/home/contact.jpg');")
							.info-card-description
								.info-card-visible
									h4 Contact
									i.fa.fa-chevron-up.fa-lg(aria-hidden='true')
								.info-card-hidden.text-center
									table
										tbody
											tr
												td Main Office: 
												td
													a(href="tel:4172762520") (417) 276-2520
											tr
												td Accounts Payable: 
												td
													a(href="tel:4172762578") (417) 276-2578
											tr
												td Estimating: 
												td
													a(href="tel:4172763219") (417) 276-3219
									.read-more.text-center
										a.btn.btn-primary(href='contact.html')
											| Read More 
											i.fa.fa-chevron-right(aria-hidden='true')
											i.fa.fa-chevron-right(aria-hidden='true')


		
		include _partials/_footer.pug
		include _partials/_scripts.pug