#contact-header {
	background-image: url("http://via.placeholder.com/1200x250");
}

#contact-card {
	padding: 10px;
	margin: 3rem 0;
	background-color: lighten($background-color, 10%);
	hr {
		border: 1px solid grey;
		width: 90%;
		margin: 0 auto;
	}

	.name {
		margin-left: 15px;
		margin-top: 10px;
		h3 {
			display: inline-block;
			position: relative;
			top: -6px;
		}
	}

	.contact-information {
		padding-left: 40px;
	}

	table {
		width: 100%;
		
		p {
			margin: 0;
		}

		tr {
			> td {
				padding-bottom: 12px;
				font-size: 1.7rem;
				vertical-align: top;
			}
		}

		.right {
			text-align: right;
		}
	}
}

#map-container {
	width: 100%;
	background-color: $background-color;
}

#map {
	background-color: #FFF;
	padding-bottom: 25px;
	margin: 40px 0;

	h3 {
		padding-top: 6px;
	}

	img {
		margin: 0 auto;
    display: block;
	}
}

.g-map {
	text-align: center;	

	iframe {
		width: 100%;
		height: 450px;
	}
}