#detailing-header {
	background-color: #303030;
	h1 {
		color: #FFF;
		font-weight: bold;	
	}
}

#tekla-model {
	display: initial;
	text-align: center;

	div {
		margin-bottom: 22px;
	}

	iframe {
		width: 100%;
		height: 480px;
	}
}

#detailing-panels {
	.row {
		padding: 40px 0;
	}

	.panel-heading {
		font-weight: bold;
	}
}