#erecting-header {
	background-image: url("http://via.placeholder.com/1200x250");
}

.erecting {
	$row-height: 275px;

	padding: 20px 0;

	img {
		width: 100%;
		display: block;
	}

	.row {
		display: flex;
	}

	.col-md-4, .col-md-8 {
		align-items: stretch;
		margin: 15px 0 0 0;
	}

	.panel-heading {
		text-align: center;
		font-weight: bold;
		font-size: 1.8rem;
	}

		.panel-body {
			font-size: 1.7rem;
		}

	.panel {
		height: 100%;
	}
}

@mixin transform($transforms, $origin:null, $style:null) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
     -moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
     -moz-transform-style: $style;
	     -o-transform-style: $style;
	    -ms-transform-style: $style;
	-webkit-transform-style: $style;
          transform-style: $style;
}

$perspective: 500px;
$rotate-start: 90deg;
$rotate-end: 0deg;

.e-animation {

	$animation-length: 0.3s;

	@include transform(perspective($perspective) rotateX($rotate-start), bottom);

	&#e-one {
		animation: e-animate $animation-length linear 1s 1 forwards;
	}

	&#e-two {
		animation: e-animate $animation-length linear 0.8s 1 forwards;
	}

	&#e-three {
		animation: e-animate $animation-length linear 0.6s 1 forwards;
	}

	&#e-four {
		animation: e-animate $animation-length linear 0.4s 1 forwards;
	}

	&#e-five {
		animation: e-animate $animation-length linear 0.2s 1 forwards;
	}

	&#e-six {
		animation: e-animate $animation-length linear 0s 1 forwards;
	}
}

@keyframes e-animate {
	from {
		@include transform(perspective($perspective) rotateX($rotate-start));
	}

	to {
	 @include transform(perspective($perspective) rotateX($rotate-end));
	}
}