footer {
	width: 100%;
	background: $primary-color;
	color: #FFF;
	padding: 10px 0;
	ul {
		list-style: none;

		li {
			padding: 5px;
		}
	}

	.certifications {

		display: flex;
		justify-content: center;		
		
		ul {			
			li {
				text-align: left;
			}
		}
		
		img {
			display: inline-block;
			height: 40px
		}

		p {
			display: inline-block;
		}
	}

	p, a {
		font-size: 1.1em;
	}

	a {
		color: #FFF;
		text-decoration: none;
		&:focus,
		&:hover {
			color: #FFF;
			text-decoration: underline;
		}
	}
}