#shipping-header {
	background-image: url("http://via.placeholder.com/1200x250");
}

.ship {
  padding-top: 75px;
}

.ship-img {
  img {
    display: block;
    margin: 0 auto;
  }
}

.ship-panel {
  margin: 35px 0 75px 0;
}

.s-panel-title {
  font-family: $roboto;
  font-weight: bold;
  text-align: center;
}