footer
	.row
		//Logo
		.col-sm-3.footer-logo
			img.img-responsive(src="images/footer-logo.png")
		//Footer links
		.col-sm-6
			.row
				.col-xs-4
					ul
						li
							a(href="about.html") About
						li
							a(href="contact.html") Contact		
				.col-xs-4
					ul
						li
							a(href="about.html") Detailing
						li
							a(href="fabrication.html") Fabrication	
						li
							a(href="shipping.html") Shipping	
						li
							a(href="erecting.html") Erecting	
				.col-xs-4
					ul
						li
							a(href="#") Customer Portal
						li
							a(href="#") Employee Portal	
						li
							a(href="admin.html") Admin Portal	
						li
							a(href="#") Fabsuite
		.col-sm-3
			.certifications
				ul
					li
						.cert
							img(src="http://via.placeholder.com/58")
							p Certification One
					li
						.cert
							img(src="http://via.placeholder.com/58")
							p Certification Two
					li
						.cert
							img(src="http://via.placeholder.com/58")
							p Certification Three